<f:layout name="Backend" />
<f:section name="content">

<f:be.pageRenderer
	includeJavaScriptModules="{
		0:'@nitsan/nitsan-mainteanace/Main.js'
	}" 
/>


	<script src="{f:uri.resource(path:'js/tinymce.min.js', extensionName: 'nitsan_maintenance')}"></script>
	<script src="{f:uri.resource(path:'js/jquery-2.1.0.min.js', extensionName: 'nitsan_maintenance')}"></script>
	<script src="{f:uri.resource(path:'js/bootstrap.min.js', extensionName: 'nitsan_maintenance')}"></script>
	<script src="{f:uri.resource(path:'js/bootstrap-colorpalette.js', extensionName: 'nitsan_maintenance')}"></script>
	<script nonce="{f:security.nonce()}">
		tinymce.init({
			selector: 'textarea',
			theme: 'modern',
			plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
			],
			toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
			toolbar2: 'print media | forecolor backcolor emoticons',
			image_advtab: true,
		});
	</script>

	<style>
		.input-group > .form-control-clearable-wrapper {
			height: 30px !important;
			width: 25% !important;
		}

		.image-wrapper {
			position: relative;
			display: inline-block;
		
		}
		.remove-image {
			position: absolute;
			height: 25px;
			width: 25px;
			top: -5px;
			right: -5px;
			background-color: #151515;
			border-radius: 50%;
			margin: auto;
			border: 1px solid #151515;
		}

		.remove-image svg {
			position: absolute;
			fill: #fff;
  			height: 20px;
  			width: 20px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.remove-image:hover {
			background-color: #fff;
			
		}
		.remove-image:hover svg {
			fill: #151515;
		}
	</style>

	<f:form action="create"  enctype="multipart/form-data"  name="newMaintenance" object="{newMaintenance}" class="nitsan-maintenance">
		<div class='page-header' style='margin-top:0'>
			<h3 style='margin-top:0;color:#FF8300;'><f:translate key='be.maintenance_mode'/></h3>
		</div>
		<div class='row'>
			<div class='col-sm-12'>
				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label><f:translate key='be.visiblity'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.radio property="hide" value="1" id="hide1"/> <label for="hide1"><f:translate key='be.hide'/></label> &nbsp;
						<f:form.radio property="hide" value="0" id="hide0"/> <label for="hide0"><f:translate key='be.show'/></label>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2'>
						<div class="form-group" style='text-align:right;'>
							<label for="title"><f:translate key='be.title'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<f:form.textfield property="title" class='form-control' id="title" required="required"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="heading"><f:translate key='be.heading'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<f:form.textfield property="heading" class='form-control' id="heading" required="required"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="text"><f:translate key='be.text'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.textarea property="text" class='form-control' id="text"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="enddate"><f:translate key='be.enddate'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<div class="input-group input-append date" id="datePicker">
							<f:form.textfield class='t3js-datetimepicker form-control t3js-clearable' property="endtime" value="{newMaintenance.endtime->f:format.date(format:'Y-m-d H:i')}" placeholder="YYYY-MM-DD 00:00" required="required"/>
		            	</div>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="footeretext"><f:translate key='be.footertext'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.textarea property="footertext" class='form-control' id="footertext"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="heading"><f:translate key='be.bgimage'/></label>
							<label for="heading2"><f:translate key='be.bgimagepixels'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
					<f:form.upload  name="image"  class="form-control" additionalAttributes="{accept: '.jpg, .jpeg, .png, .webp'}" />
					<f:if condition="{newMaintenance.image}">
						<div class="image-wrapper mt-2">
							<f:image image="{newMaintenance.image.0}" alt="" width="100" id="bg-image"/>
							<a class="remove-image" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></a>
							<f:form.hidden name="image-delete" id="image-delete" value="0" />
						</div>
					</f:if>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">

						</div>
					</div>
					<div class='col-sm-2'>
						<br>
						<f:form.submit class='btn btn-block btn-primary' id="maintenance_Submit" value="<f:translate key='be.save'/>" />
					</div>
				</div>
			</div>
		</div>
	</f:form>
</f:section>