
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Maintenance</h1>

<f:flashMessages />

<table  class="tx_nitsanmaintenance" >
	<tr>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.status" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.robotsmeta" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.title" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.heading" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.text" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.bgimage" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.countdown" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.startdate" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.enddate" /></th>
		<th><f:translate key="tx_nitsanmaintenance_domain_model_maintenance.fontcolor" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{maintenances}" as="maintenance">
		<tr>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.status}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.robotsmeta}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.heading}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.bgimage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.countdown}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.startdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.enddate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{maintenance : maintenance}"> {maintenance.fontcolor}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{maintenance : maintenance}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{maintenance : maintenance}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Maintenance</f:link.action>
</f:section>