<f:layout name='Default' />
<f:section name="main">

	<style>
	.site-title,
	.section-title,
	.section-name,
	.time-box,
	body {
		color: #fff;
	}
	</style>

    <!-- Preloader -->
    <div id="preloader">
        <div id="loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="lading"></div>
        </div>
    </div>
    <!-- Preloader End-->
    <!-- Page Top Section -->    
	<f:if condition="{settings.image.0}">
		<f:then>
			<section id="page-top" class="section-style" data-background-image="{f:uri.image(src:settings.image.0.uid, treatIdAsReference:1)}">
		</f:then>
		<f:else> 
			<section id="page-top" class="section-style" data-background-image="{f:uri.resource(path: 'images/background/page-top.jpg', extensionName: 'nitsan_maintenance')}">
		</f:else>
	</f:if>

        <div class="pattern height-resize">
            <div class="container">
            	<div class="row">
	                <h2 class="section-title">
						{settings.title}
					</h2>
	                <h3 class="section-name">
						{settings.heading}
					</h3>
					<div class="content-text">
						<f:format.html>{settings.text}</f:format.html>
					</div>
					<!-- /.Section-title  -->
					<div id="time_countdown" class="time-count-container">
						<h1 class="text-center"><f:translate key="availableon" /> <span class="enddate"><f:format.date format="d.m.Y">{settings.endtime}</f:format.date></span></h1>
					</div>
				</div>
			</div><!-- /.container -->
		</div><!-- /.pattern -->
	</section><!-- /#page-top -->
	<!-- Page Top Section  End -->
	<!-- Footer Section -->
	<footer id="footer-section">
		<div class="copyright">
			<f:format.html>{settings.footertext}</f:format.html>
		</div>
	</footer>
	<!-- Footer Section End -->
	<f:form.hidden id='day' name='day' value='{settings.endtime -> f:format.date(format:"d")}'/>
	<f:form.hidden id='month' name='month' value='{settings.endtime -> f:format.date(format:"m")}'/>
	<f:form.hidden id='year' name='year' value='{settings.endtime -> f:format.date(format:"Y")}'/>
	<f:form.hidden id='hour' name='hour' value='{settings.endtime -> f:format.date(format:"H")}'/>
	<f:form.hidden id='min' name='min' value='{settings.endtime -> f:format.date(format:"i")}'/>
	<f:form.hidden id='sec' name='sec' value='{settings.endtime -> f:format.date(format:"s")}'/>

</f:section>
