<f:layout name='Default' />
<f:section name="main">
	<section class="content-section">
	    <div class="container">
			<header class="heading">
				<f:if condition="{settings.logoImage.0}">
					<f:variable name="logoimg" value="{f:uri.image(src:settings.logoImage.0.uid, treatIdAsReference:1,maxWidth: '170')}" />
					<a href="/" class="white-theme-logo {settings.logoPosition}">
						<img src="{logoimg}" alt="logo">
					</a>
				</f:if>
				<h1>{settings.title}</h1>
				<h2>{settings.heading}</h2>
			</header>
			<f:if condition="{settings.text}">
				<div class="description-text">
					<f:format.raw>{settings.text}</f:format.raw>
				</div>
			</f:if>
			<f:if condition="{settings.pagelink} && {settings.pagelinklabel}">
				<f:variable name="pageIdLink"><f:uri.page pageUid="{settings.pagelink}" additionalParams="{pageid: '{settings.pagelink}'}" /></f:variable>
				<a href="{pageIdLink}" class="btn btn-primary fontstyle">{settings.pagelinklabel}</a>
			</f:if>
		</div>
	</section>

	<section class="counter-section">
		<f:if condition="{settings.countdown}">
			<div class="container">
				<f:switch expression="{settings.countboxstyle}">
					<f:case value="square">
						<f:render partial="Square" />
					</f:case>
					<f:case value="circle">
						<f:render partial="Circle" />
					</f:case>
					<f:case value="subscription">
						<f:flashMessages />
						<f:render partial="Subscription" />
					</f:case>
				</f:switch>
			</div>
	</f:if>
	</section>

    <footer class="page">
        <div class="container">
            <div class="main-footer">
                <div class="footer-social-link">
                	<f:if condition="{settings.fblink}">
                		<f:link.external uri="{settings.fblink}" class="fb" target="_blank"><i class="fa fa-facebook"></i></f:link.external>
					</f:if>
					<f:if condition="{settings.twlink}">
						<f:link.external class="tweet" target="_blank" uri="{settings.twlink}"><i class="fa fa-twitter"></i></f:link.external>
                  	</f:if>
                    <f:if condition="{settings.linkedinlink}">
                    	<f:link.external class="linkin" target="_blank" uri="{settings.linkedinlink}"><i class="fa fa-linkedin"></i></f:link.external>
                    </f:if>
                    <f:if condition="{settings.gitlink}">
	                    <f:link.external class="insta" target="_blank" uri="{settings.gitlink}"><i class="fa fa-git"></i>
	                    </f:link.external>
                    </f:if>
					<f:if condition="{settings.youtubelink}">
						<f:link.external class="youtube" target="_blank" uri="{settings.youtubelink}"><i class="fa fa-youtube-play"></i>
						</f:link.external>
					</f:if>
					<f:if condition="{settings.instagramlink}">
						<f:link.external class="fb" target="_blank" uri="{settings.instagramlink}"><i class="fa fa-instagram"></i>
						</f:link.external>
					</f:if>
                </div>
                <div class="copyright">
                    <p class="wow slideInUp"><f:format.raw>{settings.footertext}</f:format.raw></p>
                </div>
            </div>
        </div>
    </footer>

	<f:form.hidden id='endDate' name='endDate' value='{settings.endtime}'/>
	<f:form.hidden id='day' name='day' value='{settings.endtime -> f:format.date(format:"d")}'/>
	<f:form.hidden id='month' name='month' value='{settings.endtime -> f:format.date(format:"m")}'/>
	<f:form.hidden id='year' name='year' value='{settings.endtime -> f:format.date(format:"Y")}'/>
	<f:form.hidden id='hour' name='hour' value='{settings.endtime -> f:format.date(format:"H")}'/>
	<f:form.hidden id='min' name='min' value='{settings.endtime -> f:format.date(format:"i")}'/>
	<f:form.hidden id='sec' name='sec' value='{settings.endtime -> f:format.date(format:"s")}'/>

</f:section>
