<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<style>body{overflow: scroll !important;}</style>
	<link rel="stylesheet" type="text/css" media="all" href="{f:uri.resource(path:'css/bootstrap.css')}" />
	<link rel="stylesheet" type="text/css" media="all" href="{f:uri.resource(path:'css/bootstrap-colorpalette.css')}" />
	<link rel="stylesheet" type="text/css" media="all" href="{f:uri.resource(path:'css/dark-mode.css')}" />
	<div class="typo3-fullDoc" >
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left" style="float: left !important;">
				</div>
				<div class="right" style="float: right !important;">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" >
				<f:flashMessages />
				<f:render section="content" />
			</div>
		</div>
	</div>

</html>
