{namespace h=Nitsan\NitsanMaintenance\ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
	<script>
		tinymce.init({ 
			selector: 'textarea',
			theme: 'modern',
			plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
			],
			toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
			toolbar2: 'print preview media | forecolor backcolor emoticons',
			image_advtab: true,
		});
	</script>
	<script>
		$(function() {
			$('#colorpalette1').colorPalette()
	          .on('selectColor', function(e) {
	            $('#fontcolor').val(e.color);
	            $("#colorpalette1").hide();
	          });

	        $(".colorpicker").on('click',function(){
	        	$("#colorpalette1").toggle();
	        });
		});
	</script>

	<f:form action="create"  enctype="multipart/form-data"  name="newMaintenance" object="{newMaintenance}" class="nitsan-maintenance">
		<div class='page-header' style='margin-top:0'>
			<h3 style='margin-top:0;color:#FF8300;'><f:translate key='be.maintenance_mode'/></h3>
		</div>
		<div class='row'>
			<div class='col-sm-12'>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label><f:translate key='be.visiblity'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.radio property="hide" value="1" id="hide1"/> <label for="hide1"><f:translate key='be.hide'/></label> &nbsp;
						<f:form.radio property="hide" value="0" id="hide0"/> <label for="hide0"><f:translate key='be.show'/></label>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2'>
						<div class="form-group" style='text-align:right;'>
							<label for="title"><f:translate key='be.title'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<f:form.textfield property="title" class='form-control' id="title" required="required"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="heading"><f:translate key='be.heading'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<f:form.textfield property="heading" class='form-control' id="heading" required="required"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="text"><f:translate key='be.text'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.textarea property="text" class='form-control' id="text"/>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label><f:translate key='be.showcountdown'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.radio property="countdown" value="1" id="on1"/> <label for="on1"><f:translate key='be.on'/></label> &nbsp;
						<f:form.radio property="countdown" value="0" id="off1"/> <label for="off1"><f:translate key='be.off'/></label>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="enddate"><f:translate key='be.enddate'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
						<div class="input-group input-append date" id="datePicker">
		                	<f:form.textfield class='t3js-datetimepicker form-control t3js-clearable' property="endtime" id="enddate"  value="{newMaintenance.endtime->f:format.date(format:'Y-m-d H:i')}" />
		                	<span class="input-group-addon  add-on"><span class="fa fa-calendar"></span></span>
		            	</div>
						
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="whitelist"><f:translate key='be.ip'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
	                	<f:form.textfield class='form-control' property="whitelist" id="whitelist" />
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="fontcolor"><f:translate key='be.fontcolor'/></label>
						</div>
					</div>
					<div class='col-sm-6 btn-group'>
						<div class="input-group input-append">
							<f:form.textfield class='form-control' property="fontcolor" id="fontcolor" placeholder="Click on icon for pallete" />
							<span class="input-group-addon add-on colorpicker" style='cursor:pointer'><span class="fa fa-th"></span></span>
						</div>
						<div id="colorpalette1" style='display:none'></div></li>
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="fblink"><f:translate key='be.facebooklink'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
		                <f:form.textfield class='form-control' property="fblink" id="fblink" />
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="twlink"><f:translate key='be.twitterlink'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
		                <f:form.textfield class='form-control' property="twlink" id="twlink" />
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="linkedinlink"><f:translate key='be.linkedinlink'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
		                <f:form.textfield class='form-control' property="linkedinlink" id="linkedinlink" />
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="gitlink"><f:translate key='be.githublink'/></label>
						</div>
					</div>
					<div class='col-sm-6'>
		                <f:form.textfield class='form-control' property="gitlink" id="gitlink" />
					</div>
				</div>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							<label for="footeretext"><f:translate key='be.footertext'/></label>
						</div>
					</div>
					<div class='col-sm-9'>
						<f:form.textarea property="footertext" class='form-control' id="footertext"/>
					</div>
				</div>

				<f:if condition="{Maintenance7}!=1">
					<div class='row form-group'>
						<div class='col-sm-2' style='text-align:right;'>
							<div class="form-group">
								<label for="heading"><f:translate key='be.bgimage'/></label>
								<label for="heading2"><f:translate key='be.bgimagepixels'/></label>
							</div>
						</div>
						<div class='col-sm-9'>
							<h:form.upload property="image.0" additionalAttributes="{accept: 'image/*'}" id="imageUpload">
								<f:if condition="{resource}">
									<f:image image="{resource}" alt="" width="100"/>
								</f:if>
							</h:form.upload>
							<p style="color: red; display:none" class="invalidImage"><f:translate key='be.invalid_image'/></p>
						</div>
					</div>
				</f:if>

				<div class='row form-group'>
					<div class='col-sm-2' style='text-align:right;'>
						<div class="form-group">
							
						</div>
					</div>
					<div class='col-sm-2'>
						<br>
						<f:form.submit class='btn btn-block btn-primary' id="maintenance_Submit" value="<f:translate key='be.save'/>" />
					</div>
				</div>
			</div>
		</div>
	</f:form>
</f:section>