html,
body {
  background-color: light-dark(#fff, #262626);
  color: light-dark(#000, #fff);
}

#text_ifr html body.mce-content-body {
  background-color: light-dark(#fff, #262626);
  color: light-dark(#000, #fff);
}

.form-control,
.form-select:focus .form-control:focus {
  background-color: light-dark(#fff, transparent);
  border-color: light-dark(#c2c2c2, #383838);
  box-shadow: none !important;
  color: light-dark(#000, #fff);
  font-size: 14px;
}

/* 
.mce-container,
.mce-container *,
.mce-widget,
.mce-widget *,
.mce-reset {
  background: light-dark(#fff, #262626);
  color: light-dark(#000, #fff);
}

.mce-menubar .mce-menubtn button,
.mce-menubar .mce-menubtn button span,
.mce-menubtn button {
  color: light-dark(#000, #fff);
}

.mce-menubar .mce-caret {
  border-top-color: light-dark(#000, #fff);
} */