
<label for="robotsmeta">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.robotsmeta" />
</label><br />
	<f:form.textfield property="robotsmeta" /><br />
<label for="title">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="heading">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.heading" />
</label><br />
	<f:form.textfield property="heading" /><br />
<label for="text">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="countdown">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.countdown" />
</label><br />
	<f:form.checkbox property="countdown" value="1" /><br />
<label for="startdate">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.startdate" />
</label><br />
	<f:form.textfield property="startdate" /><br />
<label for="enddate">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.enddate" />
</label><br />
	<f:form.textfield property="enddate" /><br />
<label for="fontcolor">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.fontcolor" />
</label><br />
	<f:form.textfield property="fontcolor" /><br />
<label for="footertext">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.footertext" />
</label><br />
	<f:form.textarea property="footertext" cols="40" rows="15" /><br />
<label for="fblink">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.fblink" />
</label><br />
	<f:form.textarea property="fblink" cols="40" rows="15" /><br />
<label for="twlink">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.twlink" />
</label><br />
	<f:form.textfield property="twlink" /><br />
<label for="linkedinlink">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.linkedinlink" />
</label><br />
	<f:form.textfield property="linkedinlink" /><br />
<label for="gitlink">
	<f:translate key="tx_nitsanmaintenance_domain_model_maintenance.gitlink" />
</label><br />
	<f:form.textfield property="gitlink" /><br />